* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #f1f1f1;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 0;
}

.alert {
  font-family: 'Open Sans';
  font-weight: bold;
  background: #F0DA71;
  color: #B89800;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.85);
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #E6CA45;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 0px;
  opacity: 0;
}

.error {
  background: #CE5252;
  color: #fff;
  border: 1px solid #D13232;
}

.container {
  width: 960px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-as {
  float: right;  
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.login-as button {
  background: #fff;
  border: none;  
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.login-as button:active {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.login-as input {
  padding: 5px;
  margin: 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #aaa;
  width: 107px;
}

.login-as input:active {
  border-bottom: 1px solid #aaa;
}

.online-list, 
.messages-container {
  display: inline-block;
  vertical-align: top;  
  margin: 0;
  margin-right: -4px;
  padding: 5px;
}

.online-list {
  width: 202px;
  min-height: 300px;
}

.messages-container {
  width: 724px;
  padding: 5px 15px;  
}

.messages-container input {
  width: 95%;
  height: 35px;
  padding: 10px;
  border: none;
  border-top: 1px solid #f1f1f1;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.55);    
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.messages {      
  margin-bottom: 15px;
}

.messages ul {
  list-style-type: none;  
  max-height: 500px;
  min-height: 75px;
  overflow: auto;
  padding: 0;
}

.messages ul > li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 5px;
  overflow-wrap: break-word;
  white-space: pre;
}

.messages ul > li.system {
  color: blue;
  font-weight: bold;
}

.messages ul > li > p {
  display: inline;
}

.messages ul > li strong.time {
  color: #aaa !important;
  font-size: 12px !important;
  margin-right: 20px;
}

.messages-info {
  color: #aaa;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 5px 0;
  padding-left: 10px;
  font-size: 14px;
}

.online-list h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.online-list h2 > small {
  font-size: 100%;
  color: #aaa;
}

.online-list ul { 
  list-style-type: none;
  margin: 0;
  padding: 10px 5px;
  text-align: center;
  max-height: 360px;
  overflow: auto;
}

.online-list ul > li {
  font-size: 14px;
  color: green;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
